<footer class="site-footer">
  <div class="social">
    <a href="https://dribbble.com/seyfeddin" title="Dribble" target="_blank">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16 6.3125C10.6583 6.3125 6.3125 10.6583 6.3125 16C6.3125 21.3417 10.6583 25.6875 16 25.6875C21.3417 25.6875 25.6875 21.3417 25.6875 16C25.6875 10.6583 21.3417 6.3125 16 6.3125ZM22.4051 10.7799C23.5575 12.188 24.2554 13.9814 24.2736 15.9344C24.0008 15.8767 21.2651 15.3218 18.5118 15.6681C18.2871 15.1196 18.0751 14.6371 17.7846 14.0425C20.844 12.7934 22.2306 11.0159 22.4051 10.7799ZM21.4852 9.82305C21.3364 10.035 20.0908 11.7092 17.1484 12.8121C15.7925 10.3208 14.2896 8.27426 14.0609 7.96801C16.685 7.33547 19.4502 8.01762 21.4852 9.82305ZM12.4821 8.52422C12.7002 8.8234 14.1789 10.8725 15.5499 13.3097C11.6793 14.3376 8.27023 14.3228 7.90016 14.3179C8.43672 11.7502 10.1671 9.61613 12.4821 8.52422ZM7.72539 16.0126C7.72539 15.928 7.72707 15.8438 7.72961 15.7598C8.09164 15.7672 12.1015 15.8189 16.2338 14.5822C16.4706 15.0458 16.6969 15.5164 16.9046 15.9864C13.9125 16.8292 11.1939 19.2492 9.85262 21.5453C8.53102 20.0783 7.72539 18.1379 7.72539 16.0126ZM10.921 22.5405C11.7853 20.7736 14.1311 18.4927 17.467 17.3547C18.6287 20.3736 19.1092 22.9036 19.2322 23.6296C16.5716 24.7629 13.3723 24.452 10.921 22.5405ZM20.6233 22.8721C20.5385 22.3687 20.0981 19.9464 19.0158 16.9723C21.6088 16.5573 23.8869 17.2367 24.17 17.3261C23.8012 19.6284 22.4796 21.6168 20.6233 22.8721Z"
          fill="black"
        ></path>
      </svg>
    </a>
    <a
      href="https://www.goodreads.com/user/show/5742647-seyfeddin"
      title="Goodreads"
      target="_blank"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g>
          <path
            d="M10.4977 22.1785H10.5961C11.0426 22.1785 11.4926 22.1785 11.9391 22.182C11.9953 22.182 12.0481 22.168 12.0656 22.2558C12.3152 23.4828 13.1203 24.1754 14.277 24.5023C15.2227 24.7695 16.1789 24.7765 17.1352 24.5656C18.3234 24.3055 19.1039 23.5707 19.5258 22.4422C19.807 21.6863 19.902 20.9023 19.9125 20.1043C19.916 19.9004 19.9231 18.4519 19.9055 18.248L19.8738 18.2375C19.8457 18.2902 19.8141 18.3394 19.7859 18.3922C19.009 19.9074 17.6309 20.7617 16.0805 20.8215C12.4594 20.9621 10.125 18.8176 10.0336 14.6269C10.016 13.7937 10.0969 12.9781 10.3254 12.1765C11.0496 9.67694 12.9481 8.02108 15.7359 7.99998C17.891 7.98592 19.3043 9.36053 19.8211 10.4715C19.8387 10.5101 19.8668 10.5523 19.9055 10.5383V8.37264H21.4629C21.4629 18.2269 21.4664 20.0515 21.4664 20.0515C21.4629 22.8113 20.5277 25.1035 17.8453 25.7539C15.402 26.348 12.2555 25.9226 10.9547 23.743C10.6734 23.2683 10.5399 22.748 10.4977 22.1785V22.1785ZM15.641 9.28319C13.7953 9.26561 11.8266 10.714 11.5981 13.9871C11.4539 16.0613 12.1184 18.2832 14.1117 19.2113C15.082 19.6648 16.7238 19.7387 17.9191 18.9055C19.5926 17.7383 20.1234 15.4953 19.8457 13.4914C19.5047 10.9918 18.1652 9.27264 15.641 9.28319V9.28319Z"
            fill="black"
          ></path>
        </g>
        <defs></defs>
      </svg>
    </a>
    <a href="https://twitter.com/seyfoyun" title="Twitter" target="_blank">
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M24.0469 12.6301C24.059 12.7989 24.059 12.9677 24.059 13.1365C24.059 18.2843 20.1409 24.2158 12.9797 24.2158C10.7735 24.2158 8.72399 23.5768 7 22.4677C7.31346 22.5038 7.61483 22.5159 7.94035 22.5159C9.76075 22.5159 11.4365 21.9011 12.7747 20.8522C11.0628 20.816 9.62816 19.6948 9.13386 18.1517C9.375 18.1878 9.6161 18.2119 9.8693 18.2119C10.2189 18.2119 10.5685 18.1637 10.894 18.0793C9.10978 17.7176 7.77154 16.1504 7.77154 14.2576V14.2094C8.28992 14.4988 8.89276 14.6796 9.53168 14.7037C8.48282 14.0044 7.79566 12.8109 7.79566 11.4607C7.79566 10.7373 7.98852 10.0743 8.3261 9.49558C10.243 11.8585 13.1243 13.4016 16.3553 13.5704C16.295 13.2811 16.2588 12.9797 16.2588 12.6783C16.2588 10.5324 17.9949 8.7843 20.1529 8.7843C21.274 8.7843 22.2867 9.25448 22.998 10.014C23.8781 9.84522 24.722 9.5197 25.4695 9.07364C25.1801 9.97785 24.5653 10.7374 23.7576 11.2196C24.5412 11.1352 25.3007 10.9182 25.9999 10.6168C25.4696 11.3883 24.8065 12.0755 24.0469 12.6301Z"
          fill="black"
        ></path>
      </svg>
    </a>
    <a
      href="https://live.xbox.com/en-US/Profile?gamertag=seyfoyun"
      title="Xbox"
      target="_blank"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.0043 18.1867C21.5617 20.0957 22.2789 21.6602 21.9168 22.3598C21.6391 22.8906 19.9234 23.9277 18.6613 24.325C17.6207 24.652 16.2566 24.7926 15.1316 24.6836C13.7887 24.5535 12.4281 24.0719 11.2609 23.3125C10.2801 22.6727 10.0586 22.409 10.0586 21.8852C10.0586 20.834 11.2152 18.9918 13.1945 16.8895C14.3195 15.6977 15.884 14.2984 16.0563 14.3371C16.3867 14.4109 19.0199 16.9773 20.0043 18.1867ZM13.6305 12.0555C12.5863 11.1098 11.5879 10.1606 10.593 9.82657C10.0586 9.64727 10.0199 9.65782 9.58398 10.1113C8.55742 11.1801 7.70312 12.9133 7.46406 14.4145C7.27422 15.6168 7.24961 15.9543 7.31641 16.5414C7.51328 18.3168 7.92461 19.5438 8.74023 20.7918C9.07422 21.3051 9.16562 21.4 9.06719 21.1398C8.91953 20.7531 9.05664 19.8215 9.40117 18.8898C9.90391 17.5188 11.2961 14.9207 13.6305 12.0555ZM24.5852 14.2879C23.991 11.4754 22.2121 9.70704 21.9625 9.70704C21.7059 9.70704 21.1117 9.93555 20.6969 10.1957C19.8777 10.7055 19.2555 11.2996 18.4363 12.052C19.927 13.9258 22.0293 16.9527 22.757 19.1641C22.9961 19.8918 23.098 20.609 23.0172 21.0027C22.9574 21.3016 22.9574 21.3016 23.0664 21.1645C23.2809 20.8938 23.766 20.0641 23.9594 19.6352C24.2195 19.0656 24.4867 18.2219 24.6133 17.5715C24.7645 16.7805 24.7504 15.0824 24.5852 14.2879ZM11.9676 8.51172C13.6445 8.42383 15.8242 9.72461 15.9859 9.75625C16.0105 9.75977 16.3516 9.6086 16.7453 9.41524C18.9918 8.32188 20.05 8.50821 20.5211 8.5293C18.2746 7.14766 15.1527 6.77149 12.298 8.11797C11.4754 8.50821 11.4543 8.53633 11.9676 8.51172Z"
          fill="black"
        ></path>
      </svg>
    </a>
    <a
      href="https://www.linkedin.com/in/seyfeddin-bassarac-45004b32/"
      title="LinkedIn"
      target="_blank"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0)">
          <path
            d="M11.5255 22.75H8.26016V12.2348H11.5255V22.75ZM9.89105 10.8004C8.84691 10.8004 8 9.93556 8 8.89142C8 8.38988 8.19924 7.90888 8.55388 7.55424C8.90852 7.1996 9.38952 7.00037 9.89105 7.00037C10.3926 7.00037 10.8736 7.1996 11.2282 7.55424C11.5829 7.90888 11.7821 8.38988 11.7821 8.89142C11.7821 9.93556 10.9348 10.8004 9.89105 10.8004ZM23.7465 22.75H20.4882V17.6313C20.4882 16.4113 20.4636 14.8469 18.7905 14.8469C17.0928 14.8469 16.8327 16.1723 16.8327 17.5434V22.75H13.5709V12.2348H16.7026V13.6692H16.7483C17.1842 12.843 18.2491 11.9711 19.8378 11.9711C23.1425 11.9711 23.75 14.1473 23.75 16.9738V22.75H23.7465Z"
            fill="black"
          ></path>
        </g>
        <defs>
          <clipPath id="clip0">
            <rect
              width="15.75"
              height="18"
              fill="white"
              transform="translate(8 7)"
            ></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
    <a
      class="rss-button"
      href="/writing/rss/"
      title="RSS"
      target="_blank"
      rel="noopener"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12.636 22.6818C12.636 21.402 11.5977 20.3636 10.318 20.3636C9.03827 20.3636 8 21.402 8 22.6818C8 23.9616 9.03827 25 10.318 25C11.5977 25 12.636 23.9616 12.636 22.6818ZM18.8174 24.1669C18.6121 21.5952 17.4893 19.1683 15.6542 17.3452C13.8312 15.5099 11.4046 14.3871 8.83303 14.1818C8.80889 14.1818 8.79681 14.1818 8.77267 14.1818C8.5795 14.1818 8.38633 14.2543 8.25353 14.3871C8.08451 14.532 8 14.7372 8 14.9545V16.5845C8 16.983 8.30182 17.3089 8.70023 17.3452C12.3825 17.6953 15.3041 20.6172 15.6542 24.2997C15.6905 24.6982 16.0164 25 16.4148 25H18.0447C18.262 25 18.4672 24.9155 18.6121 24.7464C18.757 24.5895 18.8294 24.3842 18.8174 24.1669ZM24.9987 24.1911C24.7814 19.9652 23.0067 15.9929 20.0005 12.9986C17.0064 9.99219 13.0344 8.21733 8.80889 8C8.79681 8 8.78474 8 8.77267 8C8.5795 8 8.38633 8.07244 8.24146 8.21733C8.08451 8.36222 8 8.5554 8 8.77273V10.4993C8 10.8977 8.3139 11.2358 8.72438 11.2599C15.7388 11.6705 21.3285 17.2607 21.7269 24.2756C21.7511 24.6861 22.0891 25 22.4996 25H24.226C24.4434 25 24.6365 24.9155 24.7814 24.7585C24.9383 24.6016 25.0108 24.3963 24.9987 24.1911Z"
          fill="black"
        ></path>
      </svg>
    </a>
  </div>
  <small>
    Content © 2015-2020 Seyfeddin Bassarac
  </small>
</footer>