<header class="site-header">
  <div class="title">
    <a href="{{@blog.url}}">
    <h1 class="name">
      Seyfeddin Bassarac
    </h1>
    </a>
    <br />
    <a href="{{@blog.url}}">
    <h2 class="title">
      Software Craftsman
    </h2>
    </a>
  </div>
  {{navigation}}
  <div class="clearfix"></div>
</header>