<header class="site-header">
  <div class="title">
    <h1 class="name">
      Seyfeddin Bassarac
    </h1>
    <br />
    <h2 class="title">
      Software Craftsman
    </h2>
  </div>
  <nav>
    <ul>
      <li>
        <a href="/writing">
          Writing
        </a>
      </li>
      <li>
        <a href="#" class="disabled">
          Books
        </a>
      </li>
      <li>
        <a href="#" class="disabled">
          Work
        </a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>