<nav>
    <ul>
      {{#foreach navigation}}
      <li class={{#if current}}"nav-current"{{/if}}>
        <a href="{{url absolute="true"}}" {{#has slug="swiftui-videolari"}}class="nav-videos"{{/has}}>
          {{label}}
        </a>
      </li>
      {{/foreach}}
      <li>
        <a href="#" class="disabled">
          Work
        </a>
      </li>
    </ul>
  </nav>