{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} of the default.hbs template }}

<div id="main">
  <div class="about">
    <p>
      This site has been moved to
      <a href="https://seyfedd.in">
        https://seyfedd.in
      </a>
    </p>
  </div>
</div>