{{!< default}}
{{! The tag above means: insert everything in this file
into the {body} of the default.hbs template }}

{{> header }}
<div id="main">
  <div class="about">
    <p>
      Hello!
    </p>
    <p>
      I’m a software developer with an understanding of design. For the last 9 years, I’ve worked on making products for Apple devices.
    </p>
    <p>
      Currently, I work for AlTayer Group remotely from Istanbul.
    </p>
    <p>
      Offscreen, I'm avid for good tea, coffee and fantasy &amp; science fiction books. I mostly listen to progressive rock and play drums.
    </p>
    <p>
      Throughout my career, I've released and maintained more than 10 native iOS apps, many more web apps for clients. Started <a href="http://nsistanbul.com" target="_blank" rel="noopener">NSIstanbul iOS Developer Community</a> &amp; <a href="https://kanvas.istanbul" target="_blank" rel="noopener">Kanvas Design Community</a>.
    </p>
    <p>
      I also <a href="https://speakerdeck.com/seyfoyun" target="_blank" rel="noopener">give talks</a> on subjects varying from Coding Techniques to Design Handoffs.
    </p>
    <p>
      I aim to work on projects that are useful, ethically responsible and well-crafted.
    </p>
    <p>
      This is my space where I <a href="/writing">publish articles</a>, <span class="disabled">suggest books</span><span class="description"> (soon)</span> and <span class="disabled">display my work</span><span class="description"> (also very soon)</span>.
    </p>
    <p>
      If you are related to anything mentioned above, feel free to <a class="rss-button" href="/writing/rss/" title="RSS" target="_blank" rel="noopener">subscribe to this blog</a> and or <a href="https://twitter.com/seyfoyun" target="_blank" rel="noopener">follow me on twitter</a>.
    </p>
    <p>
      For inquiries, <a href="mailto:seyfeddin@wearethread.co">seyfeddin[at]wearethread.co</a>
    </p>
  </div>
</div>