/* HTML5 display-role reset for older browsers */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Colors
$light-text-color: #999999;
$lighter-gray-color: #BFBFBF;
$lighter-gray-color: #BFBFBF;
$lightest-gray-color: #E6E6E6;
$dark-text-color: #1A1A1A;
$site-background-color: #F2F2F2;
$header-background: #F9F9F9;
$footer-background: #FFFFFF;
$background-color-dark: #191919;
// Fonts
$font-family: "GraphikCompact-Regular",
--apple-system,
Helvetica,
Arial,
sans-serif;
$font-family-bold: "GraphikCompact-Medium",
--apple-system,
Helvetica,
Arial,
sans-serif;
$font-family-code: "SFMono-Regular",
monospace;
$font-family-text: "Calluna-Regular",
Georgia,
serif;
$font-family-text-bold: "Calluna-Bold",
Georgia,
serif;
$font-family-text-bold-italic: "Calluna-BoldIt",
Georgia,
serif;
$font-family-text-italic: "Calluna-It",
Georgia,
serif;

/* Seyfeddin SCSS */

:root {
    color-scheme: light dark;
}

.clearfix {
    clear: both;
}

@font-face {
    font-family: 'GraphikCompact-Regular';
    src: url(../fonts/GraphikCompact-Regular.eot);
    src: url(../fonts/GraphikCompact-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Regular.woff2) format('woff2'), url(../fonts/GraphikCompact-Regular.woff) format('woff'), url(../fonts/GraphikCompact-Regular.ttf) format('truetype'), url(../fonts/GraphikCompact-Regular.svg#GraphikCompact-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GraphikCompact-Medium';
    src: url(../fonts/GraphikCompact-Medium.eot);
    src: url(../fonts/GraphikCompact-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Medium.woff2) format('woff2'), url(../fonts/GraphikCompact-Medium.woff) format('woff'), url(../fonts/GraphikCompact-Medium.ttf) format('truetype'), url(../fonts/GraphikCompact-Medium.svg#GraphikCompact-Regular) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Calluna-BoldIt';
    src: url(../fonts/Calluna-BoldIt.eot);
    src: url(../fonts/Calluna-BoldIt.eot?#iefix) format('embedded-opentype'), url(../fonts/Calluna-BoldIt.woff) format('woff'), url(../fonts/Calluna-BoldIt.ttf) format('truetype'), url(../fonts/Calluna-BoldIt.svg#Calluna-BoldIt) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Calluna-Bold';
    src: url(../fonts/Calluna-Bold.eot);
    src: url(../fonts/Calluna-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/Calluna-Bold.woff) format('woff'), url(../fonts/Calluna-Bold.ttf) format('truetype'), url(../fonts/Calluna-Bold.svg#Calluna-Bold) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Calluna-It';
    src: url(../fonts/Calluna-It.eot);
    src: url(../fonts/Calluna-It.eot?#iefix) format('embedded-opentype'), url(../fonts/Calluna-It.woff) format('woff'), url(../fonts/Calluna-It.ttf) format('truetype'), url(../fonts/Calluna-It.svg#Calluna-It) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'Calluna-Regular';
    src: url(../fonts/Calluna-Regular.eot);
    src: url(../fonts/Calluna-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Calluna-Regular.woff) format('woff'), url(../fonts/Calluna-Regular.ttf) format('truetype'), url(../fonts/Calluna-Regular.svg#Calluna-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'SFMono-Regular';
    src: url(../fonts/SFMono-Regular.eot);
    src: url(../fonts/SFMono-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/SFMono-Regular.woff2) format('woff2'), url(../fonts/SFMono-Regular.woff) format('woff'), url(../fonts/SFMono-Regular.ttf) format('truetype'), url(../fonts/SFMono-Regular.svg#SFMono-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: $site-background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: $dark-text-color;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $dark-text-color;
    &.disabled {
        color: $light-text-color;
        text-decoration: line-through;
    }
}

.social-link {
    li {
        display: block;
        margin-bottom: 24px;
    }
}

#main {
    margin: 0 24px;
}

header.site-header {
    display: block;
    top: 0;
    right: 0;
    margin: 0;
    padding: 50px 70px 24px 70px;
    text-align: left;
    background: none;
    position: sticky;
    opacity: 0;
    animation: 1s ease-out 0.5s 1 forwards fadein;
    .title {
        float: left;
    }
    h1,
    h2 {
        font-weight: normal;
        display: inline-block;
        font-size: 1.125em;
        letter-spacing: -0.15px;
        margin-top: 0;
        line-height: 0;
        margin-bottom: 12px;
    }
    h2.title {
        color: $light-text-color;
        margin-top: 12px;
    }
    nav {
        margin-top: 12px;
        ul {
            float: right;
            li {
                float: left;
                margin-right: 24px;
                 :last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

footer {
    background-color: $footer-background;
    padding: 24px 70px 18px 70px;
    .social {
        margin-bottom: 5px;
        a {
            display: inline-block;
            height: 32px;
        }
    }
    small {
        display: inline-block;
        margin: 0;
        margin-left: 6px;
    }
}

.about {
    width: 35em;
    margin: 60px auto;
    p {
        margin-top: 0;
        font-size: 131.25%;
        line-height: 1.375;
        margin-bottom: 1.375em;
        small {
            font-size: 0.75em;
        }
        span {
            &.disabled {
                color: $light-text-color;
                text-decoration: line-through;
            }
            &.description {
                color: $light-text-color;
            }
        }
        a {
            text-decoration: underline;
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding: 0 12px 0 0;
    background: rgba($color: #000000, $alpha: 0.0) url(../images/down-arrow.svg) no-repeat 98% 50%;
}

#posts {
    margin: 60px auto;
    width: 35em;
    h1 {
        font-size: 187.5%;
        font-family: $font-family-bold;
        color: $dark-text-color;
        padding: 0 24px;
        margin-bottom: 24px;
        em {
            color: $lighter-gray-color;
        }
        select {
            padding: 0 12px 0 0;
            color: $light-text-color;
        }
    }
    a.all-posts {
        text-decoration: underline;
        display: inline-block;
        padding-left: 24px;
        margin-top: 24px;
        font-size: 112.5%;
    }
}

article.home-post {
    margin: 0 auto;
    border-bottom: none;
    padding: 28px 24px 32px 24px;
    transition: all 0.3s ease;
    &:hover {
        background-color: $footer-background;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2), 0 4px 8px rgba($color: #000000, $alpha: 0.15);
        padding: 32px 24px 36px 24px;
    }
    time {
        color: $light-text-color;
        font-size: 100%;
    }
    h2.home-post-title {
        font-size: 150%;
        font-family: $font-family-bold;
        font-weight: bold;
        line-height: 1.3333;
        text-decoration: none;
        margin-top: 6px;
    }
}

.post-full-meta {
    margin-bottom: 6px;
}

.post-full-title {
    font-size: 187.5%;
    font-family: $font-family-bold;
    line-height: 1.1333333333;
}

.post-full-image {
    margin: 24px 0;
    background: $site-background-color center center;
    border-radius: 5px;
    overflow: hidden;
}

.post-full-image img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.post-full-content {
    position: relative;
    margin: 0 auto;
    min-height: 230px;
    font-family: $font-family-text;
    font-size: 100%;
    line-height: 1.4;
    background: $site-background-color;
    color: $dark-text-color;
    p,
    ol,
    ul,
    h1,
    h2,
    h3,
    h4,
    blockquote,
    pre {
        font: inherit;
        margin-bottom: 24px;
        padding: 0 24px;
    }
    code {
        font-family: $font-family-code;
    }
    p {
        text-align: left;
        strong {
            text-align: inherit;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-bold;
        margin-bottom: 12px;
    }
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 125%;
    }
    h3 {
        font-size: 112.5%
    }
    h4 {
        font-size: 100%;
    }
    h5 {
        font-size: 87.5%;
    }
    h6 {
        font-size: 75%;
    }
    blockquote {
        font-size: 125%;
        line-height: 1.333;
        padding: 30px 48px;
        em {
            font-family: $font-family-text-italic;
            strong {
                font-family: $font-family-text-bold-italic;
            }
        }
        &:before {
            content: '“';
        }
        &:after {
            content: '”';
        }
    }
    ol {
        padding: 0 36px 0 24px;
        li {
            list-style-type: lower-latin;
            list-style-position: inside;
            padding-inline-start: 12px;
        }
    }
    ul {
        padding: 0 36px 0 24px;
        li {
            background: url(../images/en-dash.svg) no-repeat 0 9px;
            list-style-type: none;
            padding-inline-start: 12px;
        }
    }
    strong {
        font-family: $font-family-text-bold;
    }
    em {
        font-family: $font-family-text-italic;
    }
}

.post-content {
    max-width: 920px;
}

.post-template .post-content>p:first-child {
    font-size: 1.25em;
    line-height: 1.5em;
}

.post-full-content .kg-image {
    max-width: 100%;
}


/* Preventing full-width image overlap with post image.  */

.post-full-image+.post-full-content .kg-content *:first-child .kg-image {
    width: 100%;
}

.kg-width-wide .kg-image {
    max-width: 1040px;
}

.kg-width-full .kg-image {
    max-width: 100vw;
}

.post-full-content figure {
    margin: 1.5em 0 3em;
}

.post-full-content figure img {
    margin: 0;
}

.post-full-content figcaption {
    margin: 1.0em 0 0;
    font-size: 80%;
    line-height: 1.6em;
    text-align: center;
}

.kg-width-full figcaption {
    padding: 0 1.5em;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card+.kg-image-card.kg-width-wide,
.kg-gallery-card+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}


/* keep existing <pre> styles for code cards with captions */

.kg-code-card {
    min-width: 100%;
}

.kg-code-card pre {
    margin: 0;
}

article.post-card-inner {
    background: inherit;
    max-width: 80%;
    h4 {
        margin-bottom: 13px;
    }
    .post-card-content {
        padding: 21px 24px 25px 24px;
        background: #fff;
        box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2), 0 4px 8px rgba($color: #000000, $alpha: 0.15);
        h2.post-card-title {
            font-size: 150%;
            font-family: $font-family-bold;
            font-weight: bold;
            line-height: 1.3333;
            text-decoration: none;
            margin-top: 6px;
        }
        time.post-full-meta-date {
            color: $light-text-color;
            font-size: 100%;
        }
    }
    &.next {
        float: right;
        text-align: right;
        h4 {
            vertical-align: middle;
            padding-right: 24px;
            svg {
                margin-left: 8px;
            }
        }
        .post-card-content {
            border-radius: 6px 0 0 6px;
            &:hover {
                animation: hoveraround-right 3s ease infinite;
            }
        }
        margin-bottom: 50px;
    }
    &.prev {
        float: left;
        text-align: left;
        h4 {
            vertical-align: middle;
            padding-left: 24px;
            svg {
                margin-right: 8px;
            }
        }
        .post-card-content {
            border-radius: 0 6px 6px 0;
            &:hover {
                animation: hoveraround-left 3s ease infinite;
            }
        }
        margin-bottom: 38px;
    }
    a {
        background-color: inherit;
    }
}

@media (max-width: 800px) {
    .post-full-content {
        font-size: 100%;
        line-height: 1.4;
    }
}

@media screen and (max-width: 1024px) {
    header.site-header {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        margin: 0;
        padding: 27px 24px 26px 24px;
        text-align: left;
        background-color: $site-background-color;
    }
    footer {
        padding-left: 24px;
        padding-right: 24px;
    }
    article.home-post {
        margin: 0 auto;
        width: auto;
        border-bottom: 2px solid $lightest-gray-color;
        padding: 28px 24px 32px 24px;
        transition: none;
        &:hover {
            background-color: $site-background-color;
            border-radius: none;
            box-shadow: none;
            padding: 28px 24px 32px 24px;
        }
        time {
            color: $light-text-color;
            font-size: 100%;
        }
        h2.home-post-title {
            font-size: 150%;
            font-family: $font-family-bold;
            font-weight: bold;
            line-height: 1.3333;
            text-decoration: underline;
            margin-top: 6px;
        }
    }
}

@keyframes hoveraround-left {
    0% {
        padding-left: 24px;
    }
    50% {
        padding-left: 32px;
    }
    100% {
        padding-left: 24px;
    }
}

@keyframes hoveraround-right {
    0% {
        padding-right: 24px;
    }
    50% {
        padding-right: 32px;
    }
    100% {
        padding-right: 24px;
    }
}

@media screen and (max-width: 800px) {
    .site-wrapper {
        margin: 0;
    }
    header.site-header {
        position: sticky;
        display: block;
        top: 0;
        right: 0;
        margin: 0;
        padding: 27px 24px 26px 24px;
        text-align: left;
        background-color: $header-background;
        animation: none;
        opacity: 1;
        .title {
            float: none;
        }
        nav {
            display: block;
            ul {
                float: left;
                margin: 0;
                margin-top: 31px;
                li {
                    display: block;
                    float: left;
                    margin-right: 24px;
                     :last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .post-template {
        header.site-header {
            position: relative;
            display: block;
            background: $header-background;
        }
    }
    .post-full-image img {
        height: 400px;
    }
    article.post-card-inner {
        background: inherit;
        max-width: 80%;
        h4 {
            margin-bottom: 13px;
        }
        .post-card-content {
            padding: 21px 24px 25px 24px;
            background: #fff;
            box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2), 0 4px 8px rgba($color: #000000, $alpha: 0.15);
            h2.post-card-title {
                font-size: 150%;
                font-family: $font-family-bold;
                font-weight: bold;
                line-height: 1.3333;
                text-decoration: none;
                margin-top: 6px;
            }
            time.post-full-meta-date {
                color: $light-text-color;
                font-size: 100%;
            }
        }
        &.next {
            float: right;
            text-align: right;
            h4 {
                vertical-align: middle;
                padding-right: 24px;
                svg {
                    margin-left: 8px;
                }
            }
            .post-card-content {
                border-radius: 6px 0 0 6px;
                &:hover {
                    animation: hoveraround-right 3s ease infinite;
                }
            }
            margin-bottom: 50px;
        }
        &.prev {
            float: left;
            text-align: left;
            h4 {
                vertical-align: middle;
                padding-left: 24px;
                svg {
                    margin-right: 8px;
                }
            }
            .post-card-content {
                border-radius: 0 6px 6px 0;
                &:hover {
                    animation: hoveraround-left 3s ease infinite;
                }
            }
            margin-bottom: 38px;
        }
        a {
            background-color: inherit;
        }
    }
    #main {
        display: block;
        margin-top: 34px;
    }
    #site-main {
        article {
            margin-top: 50px;
            margin-bottom: 50px;
            header.post-full-header {
                padding: 0 24px;
                background-color: $site-background-color;
            }
        }
    }
    .about {
        width: auto;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $background-color-dark;
        color: white;
    }
    a {
        color: white;
    }
}