/* HTML5 display-role reset for older browsers */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// Colors
$light-text-color: #999999;
$lighter-gray-color: #BFBFBF;
$lightest-gray-color: #E6E6E6;
$text-color: rgba(0,0,0,0.77);
$site-background-color: #F2F2F2;
$header-background: #F9F9F9;
$footer-background: #FFFFFF;
$background-color-dark: #191919;
$red-color: #EF0000;
// Dark Mode Colors
$dark-light-text-color: #AAAAAA;
$dark-lighter-gray-color: #939393;
$dark-lightest-gray-color: #757575;
$dark-text-color: #F2F2F2;
$dark-site-background-color: #191919;
$dark-header-background: #353535;
$dark-footer-background: #000000;
$dark-background-color: #191919;
$dark-red-color: #FF000D;
// Fonts
$font-family: "GraphikCompact-Regular",
--apple-system,
Helvetica,
Arial,
sans-serif;
$font-family-medium: "GraphikCompact-Medium",
--apple-system,
Helvetica,
Arial,
sans-serif;
$font-family-bold: "GraphikCompact-Semibold",
--apple-system,
Helvetica,
Arial,
sans-serif;
$font-family-code: "SFMono-Regular",
monospace;
$font-family-text: "Source Serif",
Georgia,
serif;
$shadow-1: 0 1px 2px rgba($color: #000000, $alpha: 0.2),
0 4px 8px rgba($color: #000000, $alpha: 0.15);
$dark-shadow-1: inset 0 1px 1px rgba($color: #FFF, $alpha: 0.1),
0 1px 2px rgba($color: #000000, $alpha: 0.2),
0 4px 8px rgba($color: #000000, $alpha: 0.15);
$inner-shadow-1: inset 0 1px 2px rgba($color: #000000, $alpha: 0.2),
inset 0 -1px 2px rgba($color: #000000, $alpha: 0.1),
inset 0 4px 8px rgba($color: #000000, $alpha: 0.15);
$dark-inner-shadow-1: inset 0 -1px 1px rgba($color: #FFF, $alpha: 0.2),
inset 0 1px 12x rgba($color: #000, $alpha: 0.05),
inset 0 4px 8px rgba($color: #000000, $alpha: 0.15);

/* Seyfeddin SCSS */

:root {
    color-scheme: light dark;
    font-size: 100%;
}

.clearfix {
    clear: both;
}

img,
svg {
    vertical-align: middle;
}

@font-face {
    font-family: 'GraphikCompact-Regular';
    src: url(../fonts/GraphikCompact-Regular.eot);
    src: url(../fonts/GraphikCompact-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Regular.woff2) format('woff2'), url(../fonts/GraphikCompact-Regular.woff) format('woff'), url(../fonts/GraphikCompact-Regular.ttf) format('truetype'), url(../fonts/GraphikCompact-Regular.svg#GraphikCompact-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GraphikCompact-Medium';
    src: url(../fonts/GraphikCompact-Medium.eot);
    src: url(../fonts/GraphikCompact-Medium.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Medium.woff2) format('woff2'), url(../fonts/GraphikCompact-Medium.woff) format('woff'), url(../fonts/GraphikCompact-Medium.ttf) format('truetype'), url(../fonts/GraphikCompact-Medium.svg#GraphikCompact-Regular) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GraphikCompact-Bold';
    src: url(../fonts/GraphikCompact-Bold.eot);
    src: url(../fonts/GraphikCompact-Bold.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Bold.woff2) format('woff2'), url(../fonts/GraphikCompact-Bold.woff) format('woff'), url(../fonts/GraphikCompact-Bold.ttf) format('truetype'), url(../fonts/GraphikCompact-Bold.svg#GraphikCompact-Regular) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: 'GraphikCompact-Semibold';
    src: url(../fonts/GraphikCompact-Semibold.eot);
    src: url(../fonts/GraphikCompact-Semibold.eot?#iefix) format('embedded-opentype'), url(../fonts/GraphikCompact-Semibold.woff2) format('woff2'), url(../fonts/GraphikCompact-Semibold.woff) format('woff'), url(../fonts/GraphikCompact-Semibold.ttf) format('truetype'), url(../fonts/GraphikCompact-Semibold.svg#GraphikCompact-Regular) format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: auto;
}

@font-face {
    font-family: "Source Serif";
    src: url(../fonts/SourceSerifPro-Regular.otf.woff2) format("woff2"), url(../fonts/SourceSerifPro-Regular.otf.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Source Serif";
    src: url(../fonts/SourceSerifPro-Bold.otf.woff2) format("woff2"), url(../fonts/SourceSerifPro-Bold.otf.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Source Serif";
    src: url(../fonts/SourceSerifPro-It.otf.woff2) format("woff2"), url(../fonts/SourceSerifPro-It.otf.woff) format("woff");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Source Serif";
    src: url(../fonts/SourceSerifPro-BoldIt.otf.woff2) format("woff2"), url(../fonts/SourceSerifPro-BoldIt.otf.woff) format("woff");
    font-weight: bold;
    font-style: italic;
  }

@font-face {
    font-family: 'SFMono-Regular';
    src: url(../fonts/SFMono-Regular.eot);
    src: url(../fonts/SFMono-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/SFMono-Regular.woff2) format('woff2'), url(../fonts/SFMono-Regular.woff) format('woff'), url(../fonts/SFMono-Regular.ttf) format('truetype'), url(../fonts/SFMono-Regular.svg#SFMono-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body {
    background-color: $site-background-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family;
    color: $text-color;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $text-color;
    transition: color .2s ease;
    &.disabled {
        color: $light-text-color;
        text-decoration: line-through;
    }
    &:hover {
        color: $light-text-color;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-site-background-color;
        color: $dark-text-color;
    }
    a {
        color: $dark-text-color;
        &:hover {
            color: $dark-light-text-color;
        }
    }
    &.disabled {
        color: $dark-light-text-color;
    }
}

.social-link {
    li {
        display: block;
        margin-bottom: 24px;
    }
}

#main {
    margin: 0 24px;
}

#main,
#posts,
#videos {
    min-height: calc(100vh - 310px);
}

#books {
    min-height: calc(100vh - 510px);
}

header.site-header {
    display: block;
    top: 0;
    right: 0;
    margin: 0;
    padding: 50px 70px 24px 70px;
    text-align: left;
    background: none;
    position: relative;
    opacity: 0;
    animation: 0.2s ease-out 0.2s 1 forwards fadein;
    .title {
        float: left;
    }
    h1,
    h2 {
        font-weight: normal;
        display: inline-block;
        font-size: 1.125em;
        letter-spacing: -0.15px;
        margin-top: 0;
        line-height: 0;
        margin-bottom: 12px;
    }
    h2.title {
        color: $light-text-color;
        margin-top: 12px;
    }
    nav {
        margin-top: 12px;
        ul {
            float: right;
            li {
                float: left;
                margin-right: 24px;
                 :last-child {
                    margin-right: 0px;
                }
                &.nav-current {
                    a {
                        text-decoration-color: $light-text-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    header.site-header {
        h2.title {
            color: $dark-light-text-color;
        }
    }
    nav {
        ul {
            &.nav-current {
                a {
                    text-decoration-color: $light-text-color;
                }
            }
        }
    }
}

footer.site-footer {
    background-color: $footer-background;
    padding: 24px 70px 18px 70px;
    .social {
        margin-bottom: 5px;
        a {
            display: inline-block;
            height: 32px;
        }
    }
    small {
        display: inline-block;
        margin: 0;
        margin-left: 6px;
    }
}

@media (prefers-color-scheme: dark) {
    footer.site-footer {
        background-color: $dark-footer-background;
        svg {
            fill: $dark-text-color;
            >path {
                fill: $dark-text-color;
            }
            >g>path {
                fill: $dark-text-color;
            }
        }
    }
}

.about {
    width: 35rem;
    margin: 60px auto;
    animation: 0.2s ease-out 0.2s 1 forwards fadein;
    opacity: 0;
    p {
        margin-top: 0;
        font-size: 131.25%;
        line-height: 1.375;
        margin-bottom: 1.375em;
        small {
            font-size: 75%;
        }
        span {
            &.disabled {
                color: $light-text-color;
                text-decoration: line-through;
            }
            &.description {
                color: $light-text-color;
            }
        }
        a {
            text-decoration: underline;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .about {
        span {
            &.disabled {
                color: $dark-light-text-color;
            }
            &.description {
                color: $dark-light-text-color;
            }
        }
    }
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    text-decoration: underline;
    padding: 0 24px 0 0;
    background: rgba($color: #000000, $alpha: 0.0) url(../images/down-arrow.svg) no-repeat 98% 60%;
}

#posts,
#videos {
    margin: 60px auto;
    width: 48rem;
    h1 {
        font-size: 187.5%;
        font-family: $font-family-medium;
        padding: 0 24px;
        margin-bottom: 24px;
        em {
            color: $lighter-gray-color;
        }
        select {
            padding: 0 12px 0 0;
            color: $light-text-color;
        }
    }
    a.all-posts {
        text-decoration: underline;
        display: inline-block;
        padding-left: 24px;
        margin-top: 24px;
        font-size: 112.5%;
    }
}

@media (prefers-color-scheme: dark) {
    #posts,
    #videos {
        h1 {
            em {
                color: $dark-lighter-gray-color;
            }
            select {
                color: $dark-light-text-color;
            }
        }
    }
}

#books {
    margin: 160px 70px 120px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    grid-row-gap: 60px;
    align-content: space-between;
    align-items: flex-start;
    article.books-book {
        figure.book-cover {
            max-width: 75%;
            height: 300px;
            max-height: 300px;
            display: flex;
            align-items: flex-end;
            div.book-cover-image {
                max-width: 100%;
                position: relative;
                box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 4px 8px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.2);
                &:after {
                    content: '';
                    padding: 0;
                    margin: 0;
                    position: absolute;
                    top: 0;
                    left: 5px;
                    width: 3px;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.06);
                    box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        h2,
        h3 {
            font-size: 1.125rem;
            color: $text-color;
            display: inline-block;
            width: 100%;
            line-height: 1.375;
        }
        h2 {
            margin-top: 20px;
        }
        h3 {
            color: $light-text-color;
            margin-top: 4px;
        }
        div.book-content {
            margin-top: 16px;
            line-height: 1.375;
            p {
                padding-right: 12px;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    #books {
        margin-top: 140px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (prefers-color-scheme: dark) {
    #books {
        article.books-book {
            h2,
            h3 {
                color: $dark-text-color;
            }
            h3 {
                color: $dark-light-text-color;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #books {
        margin: 24px;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 60px;
        article.books-book {
            max-width: 100%;
            h2,
            h3 {
                font-size: 1rem;
            }
            div.book-content {
                font-size: 0.875rem;
            }
            figure.book-cover {
                height: 300px;
                div.book-cover-image {
                    max-width: 100%;
                    position: relative;
                    box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.15), inset 0 1px 1px rgba(255, 255, 255, 0.4), 0 4px 8px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.2);
                    &:after {
                        left: 2px;
                        width: 1px;
                    }
                }
            }
        }
    }
}

article.home-post {
    margin: 0 auto;
    border-bottom: none;
    padding: 28px 24px 32px 24px;
    transition: all 0.3s ease;
    &:hover {
        background-color: $footer-background;
        border-radius: 6px;
        box-shadow: $shadow-1;
        padding: 32px 24px 36px 24px;
    }
    time {
        color: $light-text-color;
        font-size: 100%;
    }
    h2.home-post-title {
        font-size: 150%;
        font-family: $font-family-medium;
        font-weight: bold;
        line-height: 1.3333;
        text-decoration: none;
        margin-top: 6px;
    }
    h2.home-video-title {
        font-size: 150%;
        font-family: $font-family-medium;
        font-weight: bold;
        line-height: 1.3333;
        text-decoration: none;
        margin-top: 6px;
        background: linear-gradient(107.56deg, #FF3697 0%, #2400FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    p.home-video-excerpt {
        font-size: 100%;
        font-family: $font-family-text;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none;
        margin-top: 6px;
        color: $text-color;
    }
}

@media (prefers-color-scheme: dark) {
    article.home-post {
        &:hover {
            background-color: $dark-header-background;
            box-shadow: $dark-shadow-1;
        }
        time {
            color: $dark-light-text-color;
        }
        p.home-video-excerpt {
            color: $dark-text-color;
        }
    }
}

#site-main {
    article {
        margin-top: 50px;
        margin-bottom: 50px;
        header.post-full-header {
            width: 48rem;
            margin: 5rem auto 2.5rem auto;
            background-color: $site-background-color;
            margin-bottom: 28px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.post-full-meta {
    display: inline-block;
    margin: 0 auto;
    color: $light-text-color;
    time {
        margin-bottom: 6px;
        display: inline-block;
        font-size: 1rem;
    }
}

.post-full-title {
    font-size: 2rem;
    font-family: $font-family-medium;
    line-height: 2.5rem;
    margin: 0 auto 4rem auto;
    letter-spacing: -0.8px;
}

.post-full-image {
    margin: 24px 0;
    background: $site-background-color center center;
    border-radius: 5px;
    overflow: hidden;
}

.post-full-image img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

@media (prefers-color-scheme: dark) {
    #site-main {
        article {
            header.post-full-header {
                background-color: $dark-site-background-color;
            }
        }
    }
    .post-full-meta {
        color: $dark-light-text-color;
    }
    .post-full-image {
        background: $dark-site-background-color center center;
    }
}

.post-full-content {
    position: relative;
    margin: 0 auto;
    min-height: 230px;
    font-family: $font-family-text;
    font-size: 1.375rem;
    line-height: 2.5rem;
    background: $site-background-color;
    color: $text-color;
    a {
        text-decoration: underline;
        text-decoration-color: $light-text-color;
    }
    @media (prefers-color-scheme: dark) {
        a {
            text-decoration-color: $dark-light-text-color;
        }
    }
    p,
    ol,
    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre {
        font: inherit;
        margin: 1rem auto 1.75rem auto;
        padding: 0 24px;
        width: 48rem;
    }
    code {
        font-family: $font-family-code;
        background-color: $text-color;
    }
    p {
        text-align: left;
        line-height: 2.05rem;
        strong {
            text-align: inherit;
        }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $font-family-bold;
        margin-bottom: 0;
    }
    h1 {
        font-size: 2rem;
        margin-top: 5rem;
        letter-spacing: -0.4px;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
    h3 {
        font-size: 1.25rem;
        margin-top: 1rem;
        font-family: $font-family-medium;
    }
    h4 {
        font-size: 1.125rem;
        text-transform: uppercase;
        margin-top: 1rem;
    }
    h5 {
        font-size: 1.0625rem;
        text-transform: uppercase;
        margin-top: 1rem;
        color: $red-color;
    }
    h6 {
        font-size: 1rem;
        margin-top: 1rem;
    }
    hr {
        background-color: $lighter-gray-color;
        max-width: 16rem;
        height: 1px;
        border: none;
        margin: 2.5rem auto 3rem auto;
    }
    sup {
        vertical-align: middle;
        font-size: smaller;
        a {
            display: inline-block;
            min-width: 2em;
            margin: 0 .1em;
            height: 1.5em;
            color: $text-color;
            background: $lightest-gray-color;
            font-size: .75em;
            font-family: $font-family-bold;
            line-height: 1.5em;
            border-radius: 1.5em;
            text-align: center;
            text-decoration: none;
            @media (prefers-color-scheme: dark) {
                color: $dark-text-color;
                background: $dark-lightest-gray-color;
            }
        }
    }
    blockquote {
        font-size: 125%;
        line-height: 2.375rem;
        padding: 30px 96px;
        display: block;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        p {
            display: inline;
            text-align: left;
            padding: 0;
        }
        em {
            font-family: $font-family-text;
            font-style: italic;
            strong {
                font-family: $font-family-text;
                font-weight: bold;
                font-style: italic;
            }
        }
        &:before {
            content: '“';
        }
        &:after {
            content: '”';
        }
    }
    ol {
        padding: 0 36px 0 24px;
        counter-reset: item;
        margin: 0 24px 0 40px;
        width: 48rem;
        >li {
            list-style-type: decimal;
            list-style-position: outside;
            line-height: 1.5;
            margin-bottom: 0.2rem;
            font-variant-numeric: lining-nums;
        }
    }
    ul {
        padding: 0 36px 0 128px;
        margin: 0 auto 24px auto;
        @media screen and (max-width: 800px)  {
            padding: 0 36px 0 24px;
            margin: 0 24px 0 40px;
        }
        width: 48rem;
        li {
            list-style-type: disc;
            list-style-position: outside;
            margin-bottom: 0.2rem;
            line-height: 1.5;
            font-variant-numeric: lining-nums;
        }
    }
    strong {
        font-family: $font-family-text;
        font-weight: bold;
    }
    em {
        font-family: $font-family-text;
        font-style: italic;
    }
    pre {
        padding: 24px;
    }
}

section.post-full-comments {
    width: 48rem;
    margin: 24px auto;
    background-color: $header-background;
    margin-bottom: 12px;
    padding-top: 24px;
    border-radius: 4px;
    box-shadow: $inner-shadow-1;
}

@media (max-width: 800px) {
    section.post-full-comments {
        width: auto;
        margin: 0 12px;   
    }
}

@media (prefers-color-scheme: dark) {
    .post-full-content {
        background: $dark-site-background-color;
        color: $dark-text-color;
        h5 {
            color: $dark-red-color;
        }
    }
    section.post-full-comments {
        background-color: $dark-header-background;
        color: $dark-text-color;
        box-shadow: $dark-inner-shadow-1;
    }
}

.post-content {
    max-width: 100vw;
}

.post-template .post-content>p:first-child {
    font-size: 1.1875em;
    line-height: 1.425;
    letter-spacing: -0.3px;
}

@media screen and (max-width: 800px) {
    .post-template .post-content>p:first-child {
        letter-spacing: 0;
        line-height: 1.5;
    }
}

.post-full-content .kg-image {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}

.fluid-width-video-container {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
}


/* Preventing full-width image overlap with post image.  */

.post-full-image+.post-full-content .kg-content *:first-child .kg-image {
    width: 100%;
}

.kg-width-wide .kg-image {
    max-width: 100%;
}

.kg-width-full .kg-image {
    max-width: 100vw;
}

.post-full-content figure {
    margin: 1.5em 0 3em;
    background-color: $header-background;
}

.post-full-content figure img {
    margin: 0;
    background-color: $site-background-color
}

.post-full-content {
    .kg-card-hascaption {
        figcaption {
            margin: 1rem 0 0;
            padding: 0 1rem 1rem 1rem;
            font-size: 1rem;
            line-height: 1.5rem;
            text-align: center;
            font-family: $font-family-text;
            font-style: italic;
            color: $dark-footer-background;
            @media (prefers-color-scheme: dark) {
                color: $dark-text-color;
            }            
        }
    }
}

@media (prefers-color-scheme: dark) {
    .post-full-content figure {
        img {
            background-color: $dark-site-background-color;
        }
        background-color: $dark-header-background;
    }
    .post-full-content figcaption {
        color: $dark-text-color;
    }
}

.kg-width-full figcaption {
    padding: 0 2rem;
}

.kg-embed-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $site-background-color !important;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .kg-embed-card {
        background-color: $dark-site-background-color !important;
    }
}

.kg-embed-card .fluid-width-video-wrapper {
    margin: 0;
    width: 100%;
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    max-width: 1040px;
    width: 100vw;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card+.kg-image-card.kg-width-wide,
.kg-gallery-card+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-gallery-card,
.kg-image-card.kg-width-wide+.kg-image-card.kg-width-wide {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.kg-card.kg-image-card {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 48rem;
}

.kg-card.kg-image-card.kg-width-wide {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 80vw;
    img {
        width: 100%;
    }
}


.kg-card.kg-image-card.kg-width-full {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 100vw;
    img {
        width: 100%;
    }
}


/* keep existing <pre> styles for code cards with captions */

.kg-code-card {
    min-width: 100%;
}

.kg-code-card pre {
    margin: 0;
    padding: 24px auto;
}

article.post-card-inner {
    background: inherit;
    max-width: 80%;
    h4 {
        margin-bottom: 13px;
    }
    .post-card-content {
        padding: 21px 24px 25px 24px;
        background: $footer-background;
        box-shadow: $shadow-1;
        h2.post-card-title {
            font-size: 150%;
            font-family: $font-family-medium;
            font-weight: bold;
            line-height: 1.3333;
            text-decoration: none;
            margin-top: 6px;
        }
        time.post-full-meta-date {
            color: $light-text-color;
            font-size: 100%;
        }
    }
    &.next {
        float: right;
        text-align: right;
        h4 {
            vertical-align: middle;
            padding-right: 70px;
            svg {
                margin-left: 8px;
            }
        }
        .post-card-content {
            border-radius: 6px 0 0 6px;
            padding-right: 70px;
            padding-left: 50px;
            &:hover {
                animation: hoveraround-right 3s ease infinite;
            }
        }
        margin-bottom: 50px;
    }
    &.prev {
        float: left;
        text-align: left;
        h4 {
            vertical-align: middle;
            padding-left: 70px;
            svg {
                margin-right: 8px;
            }
        }
        .post-card-content {
            border-radius: 0 6px 6px 0;
            padding-left: 70px;
            padding-right: 50px;
            &:hover {
                animation: hoveraround-left 3s ease infinite;
            }
        }
        margin-bottom: 38px;
    }
    a {
        background-color: inherit;
    }
}

section.footnotes {
    margin: 1em auto 2.5em auto;
    text-align: left;
    max-width: 48rem;
    ol.footnotes-list {
        h3.footnotes-title {
            text-align: left;
            margin-bottom: .5em;
        }
        font-size: 1rem;
        @media screen and (max-width: 800px) {
            font-size: 0.75rem;
            h3.footnotes-title {
                font-size: 1.125rem;
            }
        }
        p {
            margin: 0;
            a.footnote-backref {
                font-size: .75rem;
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    article.post-card-inner {
        .post-card-content {
            background: $dark-header-background;
            box-shadow: $dark-shadow-1;
            time.post-full-meta-date {
                color: $dark-light-text-color;
                font-size: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .post-full-content {
        font-size: 100%;
        line-height: 1.4;
    }
}

@media screen and (max-width: 1024px) {
    header.site-header {
        position: relative;
        display: block;
        top: 0;
        right: 0;
        margin: 0;
        padding: 27px 24px 26px 24px;
        text-align: left;
    }
    footer.site-footer {
        padding-left: 24px;
        padding-right: 24px;
    }
    article.home-post {
        margin: 0 auto;
        width: auto;
        border-bottom: 2px solid $lightest-gray-color;
        padding: 28px 24px 32px 24px;
        transition: none;
        &:hover {
            background: none;
            border-radius: none;
            box-shadow: none;
            padding: 28px 24px 32px 24px;
        }
        time {
            font-size: 100%;
        }
        h2.home-post-title {
            font-size: 150%;
            font-family: $font-family-medium;
            font-weight: bold;
            line-height: 1.3333;
            text-decoration: underline;
            margin-top: 6px;
        }
        h2.home-video-title {
            font-size: 150%;
            font-family: $font-family-medium;
            font-weight: bold;
            line-height: 1.3333;
            text-decoration: underline;
            margin-top: 6px;
        }
    }
    article.post-card-inner {
        &.next {
            h4 {
                padding-right: 24px;
            }
        }
        &.prev {
            h4 {
                padding-left: 24px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    @media (prefers-color-scheme: dark) {
        article.home-post {
            border-bottom: 1px solid $dark-header-background;
        }
    }
}

@keyframes hoveraround-left {
    0% {
        padding-left: 70px;
    }
    50% {
        padding-left: 82px;
    }
    100% {
        padding-left: 70px;
    }
}

@keyframes hoveraround-right {
    0% {
        padding-right: 70px;
    }
    50% {
        padding-right: 82px;
    }
    100% {
        padding-right: 70px;
    }
}

@media screen and (max-width: 800px) {
    #posts,
    #videos {
        margin: 60px auto;
        width: 100%;
    }
    .site-wrapper {
        margin: 0;
    }
    header.site-header {
        position: relative;
        display: block;
        margin: 0;
        padding: 27px 1rem 26px 1rem;
        text-align: left;
        background-color: $header-background;
        animation: none;
        opacity: 1;
        .title {
            float: none;
        }
        nav {
            display: block;
            ul {
                float: left;
                margin: 0;
                margin-top: 31px;
                li {
                    display: block;
                    float: left;
                    margin-right: 24px;
                     :last-child {
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    .post-template {
        header.site-header {
            position: relative;
            display: block;
            background: $header-background;
        }
    }
    @media (prefers-color-scheme: dark) {
        header.site-header {
            background-color: $dark-header-background;
        }
        .post-template {
            header.site-header {
                background: $dark-header-background;
            }
        }
    }
    .post-full-image img {
        height: 400px;
    }
    article.post-card-inner {
        background: inherit;
        max-width: 80%;
        h4 {
            margin-bottom: 13px;
        }
        .post-card-content {
            padding: 21px 1rem 25px 1rem;
            background: #fff;
            box-shadow: 0 1px 2px rgba($color: #000000, $alpha: 0.2), 0 4px 8px rgba($color: #000000, $alpha: 0.15);
            h2.post-card-title {
                font-size: 150%;
                font-family: $font-family-medium;
                font-weight: bold;
                line-height: 1.3333;
                text-decoration: none;
                margin-top: 6px;
            }
            time.post-full-meta-date {
                color: $light-text-color;
                font-size: 100%;
            }
        }
        &.next {
            float: right;
            text-align: right;
            h4 {
                vertical-align: middle;
                padding-right: 24px;
                svg {
                    margin-left: 8px;
                }
            }
            .post-card-content {
                border-radius: 6px 0 0 6px;
                padding-right: 24px;
                padding-left: 24px;
                &:hover {
                    animation: none;
                }
            }
            margin-bottom: 50px;
        }
        &.prev {
            float: left;
            text-align: left;
            h4 {
                vertical-align: middle;
                padding-left: 24px;
                svg {
                    margin-right: 8px;
                }
            }
            .post-card-content {
                border-radius: 0 6px 6px 0;
                padding-right: 24px;
                padding-left: 24px;
                &:hover {
                    animation: none;
                }
            }
            margin-bottom: 38px;
        }
        a {
            background-color: inherit;
        }
    }
    #main {
        display: block;
        margin-top: 34px;
    }
    #site-main {
        article {
            margin-top: 50px;
            margin-bottom: 50px;
            header.post-full-header {
                width: auto;
                padding: 0 1rem;
                margin: 20rem auto 17rem auto;
            }
        }
    }
    .post-full-content {
        position: relative;
        margin: 0 auto;
        min-height: 230px;
        font-size: 100%;
        line-height: 1.105;
        font-variant-numeric: lining-nums;
        width: auto;
        p,
        ol,
        ul,
        h1,
        h2,
        h3,
        h4,
        blockquote,
        pre {
            font: inherit;
            margin-bottom: 24px;
            padding: 0 1rem;
            width: auto;
        }
        code {
            font-family: $font-family-code;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: $font-family-medium;
        }
        h1 {
            font-size: 2rem;
            margin-top: 2rem;
            line-height: 2.3rem;
            letter-spacing: -0.4px;
        }
        h2 {
            font-size: 1.5rem;
            margin-top: 2.25rem;
            margin-bottom: 1.125rem;
            line-height: 1.5rem;
        }
        h3 {
            font-size: 1.25rem;
            margin-top: 2.25rem;
            margin-bottom: 1.125rem;
            line-height: 1.5rem;
        }
        h4 {
            font-size: 1.125rem;
            text-transform: uppercase;
            margin-top: 2.25rem;
            margin-bottom: 1.25rem;
        }
        h5 {
            font-size: 1.0625rem;
            text-transform: uppercase;
            margin-top: 1.75rem;
            margin-bottom: 0.9375rem;
            line-height: 1.25rem;
            color: $red-color;
        }
        @media (prefers-color-scheme: dark) {
            h5 {
                color: $dark-red-color;
            }
        }
        h6 {
            font-size: 1rem;
            margin-top: 2.25rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 118.75%;
            line-height: 1.5;
            text-align: left;
            hyphens: auto;
            -webkit-hyphens: auto;
            strong {
                text-align: inherit;
            }
        }
        blockquote {
            font-size: 1.25rem;
            line-height: 1.75rem;
            padding: 30px 1rem;
        }
        ol {
            padding: 0 36px 0 1rem;
            font-size: 118.75%;
        }
        ul {
            padding: 0 36px 0 1rem;
            font-size: 118.75%;
        }
        hr {
            max-width: 16rem;
        }
    }
    .about {
        width: auto;
    }
    .kg-card.kg-image-card {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 100vw;
    }
    .post-full-content {
        .kg-image {
            max-width: 100vw;
        }
    }
    article.post-full > header.post-full-header {
        margin: 4rem auto 3rem auto !important;
    }
}

@media (prefers-color-scheme: dark) {
    article.post-card-inner {
        &.prev,
        &.next {
            h4 {
                svg {
                    fill: $dark-text-color;
                    >path {
                        fill: $dark-text-color;
                    }
                }
            }
        }
        .post-card-content {
            background: $dark-header-background;
            box-shadow: $dark-shadow-1;
            h2.post-card-title {
                font-family: $font-family-medium;
            }
            time.post-full-meta-date {
                color: $dark-light-text-color;
            }
        }
    }
}